@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[data-theme="dark"] {
    --color-background: 251, 254, 251;
    --color-foreground: 40, 39, 40;
    --color-primary: 0, 108, 172;
    --color-accent: 0, 108, 172;
    --color-card: 230, 230, 230;
    --color-card-muted: 205, 205, 205;
    --color-border: 236, 233, 233;
  }

  html[data-theme="light"] {
    --color-background: 251, 254, 251;
    --color-foreground: 40, 39, 40;
    --color-primary: 0, 108, 172;
    --color-accent: 0, 108, 172;
    --color-card: 230, 230, 230;
    --color-card-muted: 205, 205, 205;
    --color-border: 236, 233, 233;
  }

  @font-face {
    font-family: Nunito;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-display: block;
    src: url("/fonts/Nunito.ttf") format("ttf");
  }

  @font-face {
    font-family: FiraCode;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-display: block;
    src: url("/fonts/FiraCode.ttf") format("ttf");
  }

  body {
    @apply font-sans;
  }
}

@layer components {
  .app-header-nav {
    @apply bg-gray-800 text-white;
  }
}
