---
const { pathname } = Astro.url;

const navlinks = [
  { href: "/", text: "Inicio" },
  { href: "/about", text: "About" },
  { href: "/blog", text: "Blog" },
  { href: "/contact", text: "Contacto" },
];

const isActive = (href: string): boolean => (pathname.lastIndexOf("/") > 0 ? pathname.startsWith(href) : pathname === href);
---

<header class="h-14 w-full border-b border-b-app-lightest">
  <div class="mx-auto grid h-full w-full max-w-8xl grid-cols-[150px_auto_150px] items-center px-4 sm:px-6 md:px-8">
    <a href="/" class="font-bold text-app-strong *:text-xl">
      <span class="inline">Mariano</span>
      <span class="inline">Ibarra</span>
    </a>
    <nav class="flex grow justify-center gap-4">
      {
        navlinks.map(({ href, text }) => (
          <a {href} class="app-header-nav" data-active={isActive(href)}>
            {text}
          </a>
        ))
      }
    </nav>
    <div class="justify-self-end">
      <button id="toggle-theme">toggle</button>
    </div>
  </div>
</header>
