---
import "@styles/global.css";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Preload from "@components/Preload.astro";
import SEO from "@components/SEO.astro";
import { ViewTransitions } from "astro:transitions";

type SEOProps = Parameters<typeof SEO>[0];
type PreloadProps = Parameters<typeof Preload>[0];

interface Props extends SEOProps, PreloadProps {}

const { preload, ...seo } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO {...seo} />
    <Preload {preload} />
    <ViewTransitions />
    <script is:inline src="/toggle-theme.js" async></script>
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
